<%- include('./partes/head') %>
<div class="contenedor">
    <h1><%= title %></h1>
    <p><%= message %></p>
    <img src ="../public/gato.jpg" alt="foto de gato"> 
    <a href ="/productos">
        <button" class="button">Ver productos</button>
    </a> 
</div>
<%- include('./partes/footer') %>